<div id="gameContainer" class="mat-elevation-z1">

    <div id="tileContainer">
        <div class="tile"><button mat-button>#</button></div>
        <div class="tile"><button mat-button>#</button></div>
        <div class="tile"><button mat-button>#</button></div>

        <div class="tile"><button mat-button>#</button></div>
        <div class="tile"><button mat-button>#</button></div>
        <div class="tile"><button mat-button>#</button></div>

        <div class="tile"><button mat-button>#</button></div>
        <div class="tile"><button mat-button>#</button></div>
        <div class="tile"><button mat-button>#</button></div>
    </div>

</div>